@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

header {
    border: 1px solid #eee;
}

header h1 {
    display: inline-block;
    padding: 15px 24px;
    color: black;
}

header ul {
    float: right;
}

header ul li {
    padding: 25px;
    display: inline-block;
    color: black;
}

header ul li:hover {
    background-color: rgb(131, 131, 131);
}

a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
}

h3 {
    font-family: 'Poppins';
    font-weight: 700;
}

p {
    font-family: 'Poppins';
    font-weight: 500;
}

.about {
    height: 10cm;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0px auto;
}

.heading {
    background-color: white;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10000;
    animation: all 2s ease-in-out;
}

.heading .active{
    background: red;
}



.skill{
    padding-bottom: 0px;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.this-icon{
    width: 100px;
    padding: 20px;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.mobile-menu {
    float: right;
    display: none;
    padding: 30px;
}

.mobile-menu:hover {
    cursor: pointer;
}

#check {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(64, 69, 75, 0.9);
    transition: .3s;
    color: white;
    z-index: 100000;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li a:hover {
    background-color: tomato;
}

.sidebar ul li {
    padding: 24px;
    transition: .3s;
}

.sidebar ul li:hover {
    background-color: tomato;
}

#check:checked~.sidebar {
    left: 0;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/img/fix.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    padding: 50px 0;
}

.banner h1, .banner p {
    color: white;
    font-size: 8em;
}

.portofolio {
    background-color: rgb(0, 0, 0);
}

.portofolio h3 {
    color: white;
}

.portofolio p {
    color: white;
}

.banner h1 {
    margin-bottom: 10px;
    font-size: 8vw;
}

.banner-left {
    padding-left: 24px;
    padding-top: 5cm;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
    margin-top: 50px;
}

a.button1:hover {
    color: #ffffff;
    background-color: #757575;
}

section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}

section h3:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    left: calc(50% - 60px);
}

.hire {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    color: white;
}

.hire h3{
    color: white;
}

.hire p{
    color: white;
}

footer {
    padding: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

footer small {
    color: rgb(0, 0, 0);
}



@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

@media (max-width: 600px) {
    .mobile-menu {
        display: block;
    }
    header ul {
        display: none;
    }
    .banner h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        width: 100%;
        background-image: url(/img/blackw.png);
    }
    .banner h1 {
        text-align: center;
        margin-top: 40%;
    }
    .icon{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}